</div>
<!-- <div class="footer-padding"></div> -->
<div class="footer" id="footer">
  <p>
    ©️
    <script type="text/javascript">
      document.write(new Date().getFullYear());
    </script>
    by Reciproque
  </p>
</div>
</div>

<script src="/sorting.js" crossorigin="anonymous"></script>
<script src="/client.js" type="text/javascript" crossorigin="anonymous"></script>
<script src="/array.js" type="text/javascript" crossorigin="anonymous"></script>

</body>

</html>