<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algorithms</title>
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
  </head>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <p class="navbar-brand">ALGORITHMS & ENERGY</p>
        </div>
          <ul class="nav navbar-nav navbar-right">
            <li id="home"><a class="nav-but"  href="/">HOME</a></li>
            <li id="about"><a href="/about">ABOUT</a></li>
            <!-- <li id="contact"><a href="/contact">CONTACT</a></li> -->
          </ul>
      </div>
    </nav>
      <body>
      <div id="main" class="container-body">