<%- include("partials/header"); -%>
    <div class="box-about" id="heading">
        <h3>About</h3>
    </div>
    <div class="flex-container-ind">
        <div class="flex-item-lem">
            <div class="about" id="intro" display="none">
                <div class="text-box">
                    <p class="expl">
                        <br>
                        This web application is a creation by <a href="http://remireci.pythonanywhere.com/" a>
                            Reciproque</a>.
                    </p>
                    <br>
                    <br>
                    <p class="expl"><a href="mailto:reci.reciproque@gmail.com">Contact</a> Reciproque for</p>
                    <br>
                    <ul class="expl">
                        <li>educational and commercial websites and software</li>
                        <br>
                        <li>debugging and refactoring of your existing code</li>
                        <br>
                        <li>databases, analysis</li>
                        <br>
                        <li>...</li>
                    </ul>
                    <div class="paper-shadow">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("partials/footer"); -%>